.form {
  @include display();
  width: 500px;
  // height: 500px;
  min-width: 230px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 5px;
  // background-color: red;
  padding: 30px 20px 30px 20px;
  border-radius: 5px;
  background-color: rgb(17, 17, 17);
  box-shadow: 0px 0px 25px -20px rgb(104, 103, 103);             


  &__title {
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 25px;
    color: rgb(204, 204, 204);
    // text-transform: uppercase;
  }

  &__top {
    @include display();
    gap: 5px;

    svg {
      color: rgb(204, 204, 204);
    }
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid rgb(35, 35, 35);
    border-radius: 4px;
    font-family: "Open Sans";
    padding: 10px 10px 10px 3px;
    font-size: 18px;
    background-color: rgb(35, 35, 35);
    color :rgb(159, 159, 159);
  }

  &__text {
    position: relative;
    left: 8px;
    font-family: "Open Sans";
    font-size: 17px;
    color: gray;
  }

  &__button {
    @include display();
    @include button(rgb(4, 86, 37), rgb(255, 255, 255));
    align-self: flex-end;
    // width: 100%;
    padding: 13px 40px;
    font-size: 20px;
    border-radius: 3px;
    
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }
  }

}