*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$color: rgb(21, 19, 19);

.wrapper {
  @include display();
  justify-content: start;
  align-items: start;
  gap: 60px;
  padding: 0px 100px;
  // height: 100vh;
  width: 100%;
  margin: 14% auto;
  max-width: 3000px;
  // background-color: $color;
}

body {
  background-color: $color;
}


.wrapper-black {
  background-color: $color;
}

  @keyframes shadow {
    0%{
      box-shadow: 0px 0px 40px -20px rgb(71, 73, 74);
    }50%{
       box-shadow: 0px 0px 30px -10px rgb(121, 110, 8);             
    }100%{
       box-shadow: 0px 0px 40px -20px rgb(71, 73, 74);             
    }
  }