.show {
  background-color: red;
  flex-grow: 1;
  max-width: 80%;
  padding: 30px 20px;
  background-color: rgb(35, 35, 35);
  border-radius: 4px;
  box-shadow: 0px 0px 30px -10px;
  animation-name: shadow;
  animation-duration: 3s;
  animation-iteration-count: infinite;

  &__items {
    @include display();
    flex-direction: column;
    align-items: end;
    // background-color: rgb(19, 19, 19);
    border-radius: 3px;
    padding: 20px 10px;
  }

  &__items-top {
    @include display();
    justify-content: end  ;
    // background-color: red;
    border-bottom: 1px solid rgb(121, 110, 8);
    padding: 10px 5px;
    width: 100%;  
  }

  &__items-cards {
    @include display();
    align-items: start;
    width: 100%;
    justify-content: space-between;
    gap:10px;
    background-color: rgb(19, 19, 19);
    padding: 10px;
  }

  &__items-bottom {
    @include display();
    width: 100%;
    flex-direction: column;
    gap: 2px;
  }

  &__date {
    font-family: "Open Sans";
    font-size: 18px;
    color: rgb(202, 202, 202);
    background-color: rgb(19, 19, 19);
    padding: 5px 10px;
    border-radius: 2px;
  }

  &__cards-right {
  @include display();
  gap: 5px;

  svg {
    color: rgb(202, 202, 202);
  }
  }
  &__items-text {
    font-family: "Open Sans";
    color :rgb(202, 202, 202);
    max-width: 800px;
    width: 100%;
    overflow-x: auto;
  }

  &__cards-time, &__cards-status {
    color :rgb(202, 202, 202);
    font-family: "Open Sans";
  }

  &__cards-status {
    background-color: rgb(4, 86, 37);
    padding: 3px 7px;
    border-radius: 3px;
  }

}